In [1]:
import numpy as np
import networkx as nx
import pandas as pd

from sdcdup.utils import update_tile_cliques

%reload_ext autoreload
%autoreload 2

### Add all edges at once

In [2]:
edgesA = [('a1', 'a1'), ('a2', 'a2'), ('a3', 'a3'), ('a1', 'a2'), ('a1', 'a3'), ('a2', 'a3')]
edgesB = [('b1', 'b1'), ('b2', 'b2'), ('b3', 'b3'), ('b1', 'b2'), ('b2', 'b3'), ('b1', 'b3')]
edgesC = [('c1', 'c1'), ('c2', 'c2'), ('c1', 'c2')]
edges = [('a1', 'a2'), ('a1', 'a3'), ('a2', 'a3'), ('b1', 'b2'), ('b2', 'b3'), ('b1', 'b3')]
G = nx.Graph()
G.add_edges_from(edgesA)
G.add_edges_from(edgesB)
G.add_edges_from(edgesC)

In [3]:
A = nx.adjacency_matrix(G)
print(A.todense())

list(nx.connected_components(G))

[[1 1 1 0 0 0 0 0]
 [1 1 1 0 0 0 0 0]
 [1 1 1 0 0 0 0 0]
 [0 0 0 1 1 1 0 0]
 [0 0 0 1 1 1 0 0]
 [0 0 0 1 1 1 0 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 0 0 1 1]]

[{'a1', 'a2', 'a3'}, {'b1', 'b2', 'b3'}, {'c1', 'c2'}]

In [4]:
df = nx.to_pandas_adjacency(G, dtype=int)
df

    a1  a2  a3  b1  b2  b3  c1  c2
a1   1   1   1   0   0   0   0   0
a2   1   1   1   0   0   0   0   0
a3   1   1   1   0   0   0   0   0
b1   0   0   0   1   1   1   0   0
b2   0   0   0   1   1   1   0   0
b3   0   0   0   1   1   1   0   0
c1   0   0   0   0   0   0   1   1
c2   0   0   0   0   0   0   1   1

### Incrementally add edges

In [5]:
G = nx.Graph()
edges = [('a1', 'a2'), ('a3', 'a4'), ('b1', 'b2'), ('b2', 'b3'), ('a1', 'a4'), ('c1', 'c2'), ('a2', 'c2')]

In [6]:
e = edges[0]
update_tile_cliques(G, e[0], e[1])
df = nx.to_pandas_adjacency(G, dtype=int)
df

    a1  a2
a1   1   1
a2   1   1

In [7]:
e = edges[1]
update_tile_cliques(G, e[0], e[1])
df = nx.to_pandas_adjacency(G, dtype=int)
df

    a1  a2  a3  a4
a1   1   1   0   0
a2   1   1   0   0
a3   0   0   1   1
a4   0   0   1   1

In [8]:
e = edges[2]
update_tile_cliques(G, e[0], e[1])
df = nx.to_pandas_adjacency(G, dtype=int)
df

    a1  a2  a3  a4  b1  b2
a1   1   1   0   0   0   0
a2   1   1   0   0   0   0
a3   0   0   1   1   0   0
a4   0   0   1   1   0   0
b1   0   0   0   0   1   1
b2   0   0   0   0   1   1

In [9]:
e = edges[3]
update_tile_cliques(G, e[0], e[1])
df = nx.to_pandas_adjacency(G, dtype=int)
df

    a1  a2  a3  a4  b1  b2  b3
a1   1   1   0   0   0   0   0
a2   1   1   0   0   0   0   0
a3   0   0   1   1   0   0   0
a4   0   0   1   1   0   0   0
b1   0   0   0   0   1   1   1
b2   0   0   0   0   1   1   1
b3   0   0   0   0   1   1   1

In [10]:
e = edges[4]
update_tile_cliques(G, e[0], e[1])
df = nx.to_pandas_adjacency(G, dtype=int)
df

    a1  a2  a3  a4  b1  b2  b3
a1   1   1   1   1   0   0   0
a2   1   1   1   1   0   0   0
a3   1   1   1   1   0   0   0
a4   1   1   1   1   0   0   0
b1   0   0   0   0   1   1   1
b2   0   0   0   0   1   1   1
b3   0   0   0   0   1   1   1

In [11]:
e = edges[5]
update_tile_cliques(G, e[0], e[1])
df = nx.to_pandas_adjacency(G, dtype=int)
df

    a1  a2  a3  a4  b1  b2  b3  c1  c2
a1   1   1   1   1   0   0   0   0   0
a2   1   1   1   1   0   0   0   0   0
a3   1   1   1   1   0   0   0   0   0
a4   1   1   1   1   0   0   0   0   0
b1   0   0   0   0   1   1   1   0   0
b2   0   0   0   0   1   1   1   0   0
b3   0   0   0   0   1   1   1   0   0
c1   0   0   0   0   0   0   0   1   1
c2   0   0   0   0   0   0   0   1   1

In [12]:
e = edges[6]
update_tile_cliques(G, e[0], e[1])
df = nx.to_pandas_adjacency(G, dtype=int)
df

    a1  a2  a3  a4  b1  b2  b3  c1  c2
a1   1   1   1   1   0   0   0   1   1
a2   1   1   1   1   0   0   0   1   1
a3   1   1   1   1   0   0   0   1   1
a4   1   1   1   1   0   0   0   1   1
b1   0   0   0   0   1   1   1   0   0
b2   0   0   0   0   1   1   1   0   0
b3   0   0   0   0   1   1   1   0   0
c1   1   1   1   1   0   0   0   1   1
c2   1   1   1   1   0   0   0   1   1